/*ABOUT*/
.generic-section {
    /* position: relative; */
    background-color: var(--color-background-light);
    /* background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f1b1ae5ab132a0021525445_optimized); 
    background-repeat: no-repeat;
    background-size: cover; */
}

.about-us-description {
    padding-top: 90px;
    padding-bottom: 5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    background-color: var(--color-background-light);
}

.decoration-line-about {
    color: var(--decoration-line-color);
}

.about__us-headline {
    text-transform: capitalize;
    color: var(--headlines-lighter-color);
    margin-bottom: 20px;
}

.about__us-preview {
    color: var(--color-background-dark);
    font-size: 45px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 40px;
    padding-bottom: 10px;
}

#ten-days {
    color: var(--decoration-text-color);
}

.about__us-details {
    background-color: var(--color-background-light);
    display: block;

    margin-bottom: 10px;

    padding: 0 24px;
}

.about__us-details-preview {
    background-color: var(--color-background-light);
    display: block;
    margin-bottom: 40px;
    padding: 0 24px;
}

/* .about-para {
    padding-top: 10px;
    padding-bottom: 10px;
} */

p {
    color: var(--paragraph-color);
}

/*SERVICES*/
.services__we__offer {
    /* position: absolute; */
    /* left: 0;
    right: 0; */
    background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f1b1ae5ab132a0021525445_optimized);
    background-repeat: no-repeat;
    background-size: cover;
}

.services-wrapper {
    padding: 90px 24px 150px;
}

.services-subdiv {
    /* margin-bottom: 10px; */
    margin-bottom: 50px;
    padding: 25px 29px;
    background-color: var(--light-text-color);
}

.image-section {
    margin-bottom: 20px;
    width: 110px;
    /* height: 70px; */
}

.about__image {
    width: 100%;
    height: 100%;
}

.service {
    size: 24px;
    margin-bottom: 20px;
    /* width: 110px;
    height: 30px; */
}

.service__description {
    /* margin: 0;
    padding: 0; */
    size: 15px;
    color: var(--headlines-lighter-color);
    /* padding-top: 10px;
    padding-bottom: 10px; */
    /* width: 580px;
    height: 50px; */
}

@media (min-width: 640px) {
.about-us-description container {
        margin-right: 50px;
    }
}

@media (min-width: 640px) {
.about-us-description {
        padding-left: 5px;
        padding-right: 20px;
    }
}

@media (min-width: 640px) {
.about__us-details-preview {
padding-left: 0;
padding-right: 10px;
margin-right: 90px;
} 
}

@media (min-width: 640px) {
.about__us-details {
        padding-top: 30px;
        padding-right: 20px;
        margin-left: 190px;
    }
} 

@media (min-width: 640px) {
    .services-subdiv {
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 600px;
        padding-bottom: 100px;
        padding-top: 20px;
        margin-left: 50px;
    }
}

@media (min-width: 640px) {
    .about-us-description {
        display: flex;
        flex-direction: row;
    }

    .about-us-description>.about__us-details-preview {
        width: 500px;
    }

    .about-us-description>.about__us-details {
        width: 500px;
    }
}

/*
@media (min-width: 640px) {
    .about-us-description > .about__us-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
} */

@media (min-width: 640px) {
.services-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 5px;
    margin-top: 0;
    background-size: cover;
    background-size: 100%;
    margin-left: 100px;
    }

.services-wrapper .services-subdiv {  
    width: 450px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    }
}

@media (min-width: 640px) {
.about__image {
    height: 100px;
    width: 300px;
    }

.service {
    width: 300px;
    height: 33px;
    }

.service__description {
    width: 300px;
    height: 100px;
        /* margin-bottom: 30px;
        padding-bottom: 50px; */
    }
}


@media (min-width: 780px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
        margin-left: 110px;
    }
    .services-wrapper .services-subdiv {
    width: 450px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    }
}

@media (min-width: 780px) {
    .about__image {    
        height: 110px;
        width: 300px;
    }
    .service {
        width: 310px;
        height: 37px;
    }
    .service__description {
    width: 310px;
    height: 110px;
    padding-bottom: 50px;
    }
} 

@media (min-width: 960px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 450px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
        margin-left: 120px;
    }

    .services-wrapper .services-subdiv {
        width: 460px;
        height: 310px;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 960px) {
    .about__image {
        height: 110px;
        width: 300px;
    }

    .service {
        width: 310px;
        height: 39px;
    }

    .service__description {
        width: 300px;
        height: 110px;
        padding-bottom: 50px;
    }
}



@media (min-width: 1700px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 450px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
        margin-left: 130px;
    }
    .services-wrapper .services-subdiv {
   /* width: 460px;
    height: 300px; */
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
    }
}
/*
@media (min-width: 1700px) {
    .about__image {    
        height: 120px;
        width: 300px;
    }
    .service {
        width: 300px;
        height: 39px;
    }
    .service__description {
    width: 310px;
    height: 100px;
    }
} */

#container {
    display: grid;
    grid: repeat(2, 280px) / auto-flow 300px;
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 50px;
    height: 50px;
  }
  