.generic-section {
    background-color: none;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 300px;
}

/*ABOUT*/

.about-us-description {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.decoration-line-about {
    color: red;
}
.about__us-headline  {
    text-transform: capitalize;
    color: #585858;
    size: 23px;
}
.about__us-preview {
    color: #232428;
    font-size: 45px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 40px;
    padding-bottom: 10px;
}
#ten-days {
    color: rgb(20, 169, 238);
}
.about__us-details {
    background-color: white;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}
.about__us-details-preview {
    background-color: white;
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
}
.about-para {
    padding-top: 10px;
    padding-bottom: 10px;
}
 p {
     color: #484848;
 }
/*SERVICES*/
.services__we__offer {
    /*width: 320px;
    height: 978px;*/
    background-color: white;
    display: inline-block;
    background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f1b1ae5ab132a0021525445_optimized); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}
.services-subdiv {
    margin-top: 20px;
    margin-bottom: 20px;
    /*width: 272px;
    height: 282px;*/
    background-color: white;
    box-sizing: border-box;
    margin: 20px;
}

.about__image {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 116px;
    width: 351px;
}

.service {
    margin: 0;
    padding: 0;
    size: 24px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 280px;
    height: 30px;
}

.service__description {
    margin: 0;
    padding: 0;
    size: 15px;
    background-color: white;
    color: #585858;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 350px;
    height: 100px;
}

@media (min-width: 640px) {
.about-us-description {
    margin-left: 100px;
}
}

@media (min-width: 640px) {
.services-wrapper {
    margin-left: 100px;
    margin-bottom: 500px;
}
}
@media (min-width: 640px) {
    .about-us-description {
        display: flex;
        flex-direction: row;
      }
      
      .about-us-description > .about__us-details-preview {
        width: 500px;
      }
      
      .about-us-description > .about__us-details {
        width: 500px;
      }    
}
/*
@media (min-width: 640px) {
    .about-us-description > .about__us-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}*/

@media (min-width: 640px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
    }
    .services-wrapper .services-subdiv {
    width: 300px;
    height: 300px;
    }
}

@media (min-width: 640px) {
    .about__image {    
        height: 100px;
        width: 280px;
    }
    .service {
        width: 300px;
        height: 33px;
    }
    .service__description {
    width: 280px;
    height: 100px;
    }
}


@media (min-width: 780px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
    }
    .services-wrapper .services-subdiv {
    width: 320px;
    height: 320px;
    }
}

@media (min-width: 780px) {
    .about__image {    
        height: 110px;
        width: 290px;
    }
    .service {
        width: 310px;
        height: 37px;
    }
    .service__description {
    width: 290px;
    height: 110px;
    }
}


@media (min-width: 1200px) {
    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 450px);
        gap: 5px;
        margin-top: 0;
        background-size: cover;
        background-size: 100%;
    }
    .services-wrapper .services-subdiv {
    width: 330px;
    height: 330px;
    }
}

@media (min-width: 1200px) {
    .about__image {    
        height: 120px;
        width: 300px;
    }
    .service {
        width: 320px;
        height: 45px;
    }
    .service__description {
    width: 300px;
    height: 120px;
    }
}
/*
#container {
    display: grid;
    grid: repeat(2, 280px) / auto-flow 300px;
  }
  
  #container > div {
    background-color: #8ca0ff;
    width: 50px;
    height: 50px;
  }
  