.about_norway {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    padding: 120px 20px 120px 20px;
    text-align: left;
    background-color: var(--color-background-light);
  
}

.about_norway-row {
    display: flex;
    flex-wrap: wrap;
}
.about_norway-row >div {
    flex: 100%;
}

.about__norway-description {
    flex: 100%;
    object-fit: contain;
    max-width: 300px;
}    

.about_norway-line {
    color: var(--decoration-line-color);
    font-size: 12px; 
}
.about__norway-title {
    text-transform: uppercase;
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    flex: 100%;
}
.about__norway-title-article {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 34px;
    }
.about__norway-text {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 19px;
}
.about_norway__main-figures {
    color: rgb(35, 36, 40);
    font-family:'Roboto', sans-serif;
    font-size: 60px;
}
.about_norway__main-title {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 14px;
}
@media (min-width: 780px) {
    .about_norway-row >div,
    .about__norway-description {
        flex: 1;
    }
    
}
