@media (min-width:320px) {

.about_norway {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 120px 20px 120px 20px;
    text-align: left;
    background-color: var(--color-background-light);
}
.about__norway-description {
    weight: 272px;
    height: 294px;
}    

.about_norway-line {
    color: var(--decoration-line-color);
    font-size: 12px;    
}
.about__norway-title {
    text-transform: uppercase;
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 12px;
}
.about__norway-title-article {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 34px;
    }
.about__norway-text {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 19px;
}
.about_norway__main-figures {
    color: rgb(35, 36, 40);
    font-family:'Roboto', sans-serif;
    font-size: 60px;
}
.about_norway__main-title {
    color: var(--paragraph-color);
    font-family:'Roboto', sans-serif;
    font-size: 14px;
}
}