.empty-container {
  background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f11a83835b22b0022e9ea70_optimized_1920);
  background-repeat: no-repeat;
  background-size: cover;
  /*position: fixed;    */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: -1;
  bottom: 0px;
}

.contact-form-wrapper-outer {
  /*padding: 50px;*/
  min-width: 450px;
  min-height: 650px;
  padding: 60px;
  box-sizing: border-box;
  /*margin: 50px 0; */
}

.contact-form-wrapper-inner {
  background-color: #232428;
  margin: 50px 0;
  padding: 40px;
  box-sizing: border-box;
}

.upper-content {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
}

/* content */
.content {
  text-align: center;
}

.decoration-line-form {
  color: var(--decoration-line-color);
  line-height: 18px;
  padding-bottom: 30px;
  /*vertical-align: baseline; */
  /*padding-left: 130px;
  margin-top: 70px; */
}

.upper-content .contact-us {
  letter-spacing: 1px;
  color: var(--headlines-lighter-color);
  font-size: 13px;
  font-stretch: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-left: 5px;
}

.book-journey {
  font-size: 45px;
  font-stretch: 100%;
  color: #fff;
  font-family: 'Playfair Display', serif;
  /*word-wrap: break-word;*/
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 25px;
  line-height: 1.2em;
}

.complete-form {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* form */
.form {
  width: 100%;
  margin: auto;
  padding-left: 10px;
}

.top-form,
.calendar-form,
.btn {
  width: 100%;
  min-height: 40px;
}

.form .contact-input[type="text"] {
  border: 2px;
  padding: 14px 20px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
  line-height: 17px;
  margin-top: 12px;
  background-color: rgb(45, 46, 52);
  height: 45px;
  margin-bottom: 10px;
}


#email {
  border: 2px;
  padding: 14px 20px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
  line-height: 17px;
  margin-top: 12px;
  background-color: rgb(45, 46, 52);
  height: 45px;
  margin-bottom: 10px;
}

.form .contact-input-calendar[type="text"] {
  border: 2px;
  padding: 14px 20px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
  line-height: 17px;
  margin-top: 12px;
  background-color: rgb(45, 46, 52);
  /*width: 390px;*/
  height: 45px;
  margin-bottom: 10px;
}

.form .contact-input:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);
}


.form .contact-input-calendar:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);
}

.contact-input {
  padding: 14px 20px;
}

.contact-input-calendar {
  padding: 14px 20px;
}

.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

/*
.top-form .inner-form .calendar-form,
.btn {
    margin-right: 5%;
  } */

.btn {
  background: #4ca1af;
  width: 100%;
  height: 45px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  /*width: 390px;
    height: 45px; */
  margin-top: 40px;
  margin-bottom: 40px;
}

.calendar-image {
  width: 30px;
  height: 27px;
  color: gray;
}

.date-picker-icon .calendar-image {
  display: inline-flex;
  position: absolute;
  /*margin-right: -38px;*/
  margin-top: 25px;
  transform: translateX(-105%);
}

@media (min-width: 640px) {

  .contact-form-wrapper-outer {
    /*padding: 50px;*/
    min-width: 450px;
    min-height: 650px;
    /*padding: 40px;*/
    box-sizing: border-box;
    margin-left: 20px;
  }

  .contact-form-wrapper-inner {
    /*margin: 50px 0;*/
    width: 500px;
    height: 650px;
    max-width: 600px;
    /*padding: 40px;*/
    box-sizing: border-box;
  }
}

@media (min-width: 640px) {
  .contact-form-container {
    display: flex;
    flex-direction: row;
  }
}


@media (min-width: 780px) {

  .contact-form-wrapper-outer {
    /*padding: 50px;*/
    min-width: 450px;
    min-height: 650px;
    /*padding: 40px;*/
    box-sizing: border-box;
    margin-left: 70px;
  }

  .contact-form-wrapper-inner {
    /*margin: 50px 0;*/
    width: 500px;
    height: 650px;
    max-width: 600px;
    /*padding: 40px;*/
    box-sizing: border-box;
  }
}

@media (min-width: 780px) {
  .contact-form-container {
    display: flex;
    flex-direction: row;
  }
}


@media (min-width: 1000px) {

  .contact-form-wrapper-outer {
    /*padding: 50px;*/
    min-width: 450px;
    min-height: 650px;
    /*padding: 40px;*/
    box-sizing: border-box;
    margin-left: 120px;
  }

  .contact-form-wrapper-inner {
    /*margin: 50px 0;*/
    width: 500px;
    height: 650px;
    max-width: 600px;
    /*padding: 40px;*/
    box-sizing: border-box;
  }
}

@media (min-width: 780px) {
  .contact-form-container {
    display: flex;
    flex-direction: row;
  }
}

/*
.calendar-container {
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month .calendar-heading {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month .calendar-para {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays .weekday {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days .weekday {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days .weekday:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}