.experience__container  {
    background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f153f25c3ffc60021186fee_optimized_1200);
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.experience__content {
    max-width: 478px;
    margin: 125px 0 120px 0;
    text-align: center;
    position: relative; 
    padding: 0 15px 0 15px;
}

@media (min-width: 640px) {
    .experience__content {
        max-width: 750px;
    }
}

@media (min-width: 960px) {
    .experience__content {
        max-width: 1000px;
    }
}

.experience_header {
    color: #505155;
}

.experience_subtitle {
    font-size: 12px;
    text-transform: uppercase;
    color: #505155;
}

.subtitle-line {
    color: rgb(238,46,20);
    margin-right: 3px;
}

.experience_title {
    font-size: 34px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    color: #505155;
    letter-spacing: .03em;
}

.experience_description {
    font-size: 19px;
    line-height: 1.7;
    margin: 40px auto 0 auto;
    letter-spacing: .03em;
    color: #707070;
    max-width: 579px;
    text-align: center;
}

@media (min-width: 640px) {
    .experience_description {
        max-width: 579px;
    }
}

@media (min-width: 960px) {
    .experience_description {
        max-width: 748px;
    }
}

.experience_slider {
    left: 0;
    transition: all ease 1s;
}

/* arrows */

.slider_arrows {
    position: inherit;
}

.slider_arrow {
    position: absolute;
    border: solid #606269;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    cursor: pointer;
}

#arrow_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 50%;
    right: 10px;
}

@media (min-width: 640px) {
    #arrow_right {
        right: 10px;
    }
}

@media (min-width: 960px) {
    #arrow_right {
        right: 5px;
    }
}

#arrow_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 50%;
    left: 10px;
}

@media (min-width: 640px) {
    #arrow_left {
        left: 10px;
    }
}

@media (min-width: 960px) {
    #arrow_left {
        left: 5px;
    }
}

.slider_arrow:hover {
    border: solid #131314;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
}

/* arrows */

.slider_story {
    display: none;
}

.slider_story.active {
  display: block;
}

.story_photo {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
}

.story_author {
    color: #232428;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.story_text {
    color: #707070;
    font-size: 17px;
    line-height: 1.7;
    margin-top: 30px;
    letter-spacing: .03em;
}

.story_date {
    margin-top: 30px;
    color: #505155;
    font-size: 14px;
    font-weight: 500;
}

/* slider_dots */

.slider_dots {
    margin-top: 25px;
}

.slider_dot {
    height: 10px;
    width: 10px;
    background-color: #919198;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .slider_dot:hover {
    background-color: #131314;
  }

  .slider_dot:focus {
    background-color: #131314;
  }

  .dot2,
  .dot3 {
    margin-left: 10px;
  }
 