.experience__container  {
    background-image: url(https://res2.weblium.site/res/5f0f108db6bcbd0022791194/5f153f25c3ffc60021186fee_optimized_1200);
    background-size: 100%;
    display: flex;
    justify-content: center;
}

.experience__content {
    max-width: 1200px;
    padding: 120px 20px 120px 20px;
    text-align: center;
}

@media (min-width: 640px) {
    .experience__content {
        max-width: 920px;
    }
}

@media (min-width: 960px) {
    .experience__content {
        max-width: 950px;
    }
}

.experience_header {
    color: #505155;
}

.experience_subtitle {
    font-size: 12px;
    text-transform: uppercase;
}

.experience_title {
    font-size: 34px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;

}

.experience_description {
    font-size: 19px;
    line-height: 1.7;
    margin-top: 30px;

}

.experience_slider {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.arrows_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: #4f5157;
    fill: #ffffff
}

.arrows_button:hover {
    background-color: #000000;
}

.arrow_button-image {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}


.experience_stories {
    margin-top: 45px;
    position: relative;

}

.story_hidden {
    opacity: 0;
}

.story_photo {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

.story_author {
    color: #232428;
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.story_text {
    color: #707070;
    font-size: 17px;
    line-height: 1.7;
    margin-top: 30px;
}

.story_date {
    margin-top: 30px;
    color: #505155;
    font-size: 14px;
    font-weight: 500;
}


