.header {
    background-image: url(../img/header/header_background_image.png);
    padding-bottom: 90px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 24px;
}

@media (min-width: 780px) {
    .header__nav {
        margin-bottom: 115px;
    }
}

@media (min-width: 960px) {
    .header__nav {
        margin-bottom: 140px;
    }
}

.header__nav_logo {
    width: 190px;
    height: 35px;
    z-index: 2;
}


.header__nav_logo-image {
    width: 100%;
    height: 100%;
}

/* burger button*/

.header__nav_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 5;
}

@media (min-width: 960px) {
    .header__nav_burger {
        display: none;
    }
}

.header__nav_burger::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 30px;
    background-color: var(--light-text-color);
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.header__nav_burger-line {
    position: absolute;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: var(--light-text-color);
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.header__nav_burger::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    background-color: var(--light-text-color);
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.header__nav_burger.active .header__nav_burger-line {
    transform: scale(0);
}

.header__nav_burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
}

.header__nav_burger.active::after {
    bottom: 40%;
    transform: rotate(45deg);
}

/* burger menu */

.header__nav_menu-wrapper {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-dark);

    transition: top 0.3s ease-in 0.1s;
    z-index: 1;
}

@media (min-width: 960px) {
    .header__nav_menu-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 600px;
        background-color: #00000000;
        z-index: 2;

    }
}
 
.header__nav_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 120px 0;
}

.header__nav_menu-wrapper.active {
    top: 0;
}

body.lock {
    overflow: hidden;
}

@media (min-width: 960px) {
    .header__nav_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 600px;
        padding: 0;
    }
}

.header__nav_menu-link {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--light-text-color);
    text-decoration: none;
    filter: brightness(95%);

    margin-bottom: 20px;
}

.header__nav_menu-link-button {
    margin-bottom: 0px;
}

@media (min-width: 960px) {
    .header__nav_menu-link {
        margin-bottom: 0px;
    }
}

.header__nav_menu-link:hover {
    filter: brightness(100%);
}

.header__nav_menu-button:hover {
    background-color: var(--light-text-color);
    transition: background-color 0.4s ease;
}

.header__nav_menu-link-button {
    display: block;
    font-weight: 700px;
    padding: 8px 16px;

    border: 2px solid var(--light-text-color);
    cursor: pointer;
}

.header__nav_menu-link-button:hover {
    color: var(--color-background-dark);
    transition: color 0.4s ease;
}

/* baner text */

.header__banner {
    padding: 0 24px;
}

@media (min-width: 780px) {
    .header__banner {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.header__banner-subtitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 20px;
    color: var(--light-text-color);

    margin-bottom: 20px;
}

.header__banner-subtitle-line {
    color: var(--decoration-line-color);
}

@media (min-width: 960px) {
    .header__banner-subtitle {
        font-size: 14px;
        font-weight: 700;
        color: var(--light-text-color);
    }
}

.header__banner-title {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    color: var(--light-text-color);

    margin-bottom: 50px;
}

@media (min-width: 780px) {
    .header__banner-title {
        font-size: 125px;
        line-height: 125px;

        margin-bottom: 200px;
    }
}

@media (min-width: 960px) {
    .header__banner-title {
        font-size: 165px;
        line-height: 165px;

        margin-bottom: 220px;
    }
}

@media (min-width: 1060px) {
    .header__banner-title {
        font-size: 180px;
        line-height: 180px;
    }
}

.header__banner_play-container {
    display: flex;
}

.header__banner_play-icon {
    width: 24px;
    height: 24px;

    margin-right: 10px;
}

.header__banner-link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 20px;
    color: var(--light-text-color);
}

.header__banner_play-container {
    margin-bottom: 50px;
}

/* baner image info */

.header__baner_video-image {
    min-width: 272px;
    min-height: 176px;
    /* margin: auto; */
    margin-bottom: 20px;
}

.header__baner_video-player {
    width: 100%;
    height: 100%;
}

.header__banner-info-subtitle {
    color: var(--light-text-color);

    margin-bottom: 20px;
}

.header__banner-info-date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 19px;
    color: var(--light-text-color);

    margin-bottom: 20px;
}

.header__banner-info-date {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 19px;
    color: var(--light-text-color);

    margin-bottom: 20px;
}

.header__banner-info-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 19px;
    color: var(--light-text-color);
    opacity: 75%;

    margin-bottom: 30px;
}

.header__banner-info-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--light-text-color);
    text-decoration: none;
    

    margin-bottom: 20px;
}

.header__banner-info-link:hover {
    text-decoration: underline;
}
