.where_to_go {
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100vw;
}

.where_to_go__section_title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(78, 78, 78);
    margin-bottom: 20px;
}
.where_to_go__section_title_tere {
    color: var(--decoration-line-color);
    font-size: 12px;
}

.where_to_go_title {
    font-size: 34px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;

}


.where_to_go_subtitle {
    color: var(--paragraph-color);
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 20px 0;

@media (min-width: 640px) {
    .where_to_go_subtitle {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}