.where_to_go {
   
   margin-left: 20px;
}

.where_to_go__section_title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--color-text-light-background);
    margin-bottom: 20px;
  
}
.where_to_go__section_title_tere {
    color: var(--decoration-line-color);
    font-size: 12px;
}

.where_to_go_title {
    font-size: 34px;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    color: var(--paragraph-color);
   

}


.where_to_go_subtitle {
    color: var(--color-text-light-background);
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 20px 0;
    
}


.where_to_go_photo{
   
    width: 100%;
    padding: 0,100;
    
    
   
}

.where_to_go_titr{
    color: var(--headlines-lighter-color);
    margin-bottom: 30px;
}
.where_to_go_decor{
    color: var(--decoration-line-color);
}

.where_to_go_img{
    width: 50%;
    padding: 0,100;
}

.where_to_go_blok_title{
    
    margin-bottom: 40px;
}



.where_to_go_text{
    margin-bottom: 20px;
}

.where_to_go_titr_subtitle{
    font-size: 34px;
    color: var(--color-text-light-background);
    margin-bottom: 40px;
}

.where_to_go_decor_subtitle{
    margin-left: 100px;
}

.where_to_go_decor_box{
    margin-bottom: 40px;
}

where_to_go_text_blok_1{
    
}

.where_to_go_flex{
    
     margin-bottom: 100px;
    
}

.where_to_go_link{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--light-text-color);
    text-decoration: none;
    filter: brightness(100%);
    background-color: cornflowerblue;
    border:2px solid cornflowerblue ;
    padding: 5px;
    margin-top: 20px;

}

.where_to_go_main_head{
    width: 40%;
}










